*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

//global variables
$output-bg:#fff;
$opcode-bg:#515151;
$numpad-bg:#242424;
$ctrl-bg:#b10e0e;
body{
    font-family: 'Roboto', sans-serif;
}

#wrapper{
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:linear-gradient(to right, rgb(39, 191, 191),rgb(35, 179, 132));
}

#calculator{
    width:400px;
    border:5px solid white;
    box-shadow:5px 5px 15px rgba(0,0,0,0.25);
}

#output-container{
    width:100%;
    padding:10px 15px;   
    background:$output-bg;
    position:relative;
    height:100px;
    font-size:16px;
    margin-bottom:5px;
}


#entry{
    position:absolute;
    right:10px;
    top:5px;
    font-size:2em;
}

#early-evaluation{
    position:absolute;
    right:10px;
    bottom:10px;
    font-size:1.5em;
    opacity:0.5;
}

#btn-area{
    display:grid;
    grid-template-columns:repeat(4, 1fr);
    grid-template-rows:repeat(4,80px);
    grid-gap:3px;
}

.btn, .ctrl, .equal-btn{
    display:block;
    background:$numpad-bg;
    text-align:center;
    line-height:80px;
    font-size:1.7em;
    border-radius:3px;
    color:white;
}

[data-value='equal']{
    grid-area:4/4 / 6/5;;
    line-height:160px;
}

[data-value='0']{
    grid-column: 1/3;

}

.opcode, .equal-btn{
    background:$opcode-bg;
    font-size:2em;
    font-weight:500;
    transition:100ms;
    cursor:pointer;
}

.ctrl{
    background:$ctrl-bg;
    cursor:pointer;
}

.btn:hover{
    transform:scale(1.1);
    border:2px solid crimson;
    cursor:pointer;
}

.btn:active, .equal-btn:active{
    transform:translateY(5px);
}