doctype html
html(lang='en-US')
    head
        title('js calculator')
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
        link(rel="manifest" href="site.webmanifest")
        meta(name='author' content='Md Farzan')
        link(rel='stylesheet' href='css/style.css')
        //google font
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet")
    body
        #wrapper
            #calculator
                #output-container
                    output#entry 
                    output#early-evaluation 0
                //output area
                #btn-area
                    span.ctrl#clear C
                    span.ctrl#clear-entry CE
                    span.btn.opcode(value='/') /
                    span.btn.opcode(value='*') *
                    span.btn 9
                    span.btn 8
                    span.btn 7
                    span.btn.opcode(value='-') -
                    span.btn 6
                    span.btn 5
                    span.btn 4
                    span.btn.opcode(value='+') +
                    span.btn 3
                    span.btn 2
                    span.btn 1
                    span.equal-btn(data-value='equal') =
                    span.btn(data-value='0') 0
                    
                    span.btn(data-value='dot') .
                    
                    
                    


         

        script(src='js/script.js')